*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 } 
 
 header{
    width: 100%;
    height: 80px;
    background-color: rgb(39, 84, 101);
    display: flex;
    justify-content: center;
    align-items: center;
 }
 h1{
    color: rgb(0, 0, 0);
 }
 h2{
    color: rgb(102, 102, 112);
 }
 
 #h-titulo {
    width: 100%;
 }
 h3{
   color: rgb(219, 57, 35);
}

 